.ator1{
    width: 50px;
}

.ator2{
    width: 95px;
}

.ator3{
    width: 50px;
}

.ator4{
    width: 95px;
}

.ator5{
    width: 90px;
}

.elenco a{
    color: #fff;
    padding: 10px 90px 10px 50px;
    font-size: .9rem;
    font-family: 'Convergence', sans-serif;
}